body {
	width: 960px;
	height: 700	px;
	font-family: ;
/*	background-image: url("https://static1.squarespace.com/static/56ec48a420c64724c36d2e67/5706f67aab48de09bc40538a/5706f7ae044262231702c2fe/1460074424397/IMG_9230.JPG?format=750w");
*/	background-repeat: no-repeat;
	background-color: cadetblue;
	background-size: cover;
	margin-bottom: 32px;
	margin-top: 32px;
}

div {
	display: flex;
	margin: 0 auto;
	align-content: center;
	flex-direction: column;
}

header {
	display: flex;
	margin: 0 auto;
	align-items: center;
	width: 80%;
}

h1 {
	color: black;
}

h3 {
	color: black;
	font-size: 24px;
}

h4 {
	color: black;
}

h5 {
	color: black;
	margin: 16px 4px;
}

p {
	font-size: 18px;
	color: yellow;
}

.play-field-heading {
	color: lightyellow;
}

#dealer-heading {
	display: inline-flex;
	margin: 20 auto;
	align-items: center;
	justify-content: center;
	width: 96%;
}

#dealer-container {
	display: inline-flex;
	flex-direction: row;
	margin: 0 16px 0 -38px;
}

.dealer-card , .card , #card-two {
	display: inline-flex;
	flex-direction: row;
	margin: 12px 0 0 -30px;
}

.message-container {
	display: flex;
	fjustify-content: center;
	align-items: center;
	flex-direction: column;
	height: 60px;
	width: 256px;
	margin: 32px auto -128px auto;
	background-color: black;
	border: 4px solid orange;
	border-radius: 6px;
}

.message {
	font-size: 18px;
	color: yellow;
}

#host-image {

}

#welcome-message {
	font-size: 20px;
}

#input-name {
	height: 24px;
	border: 2px solid orange;
	border-radius: 2px;
	background-color: lightgrey;
	margin: 20px 0 10px 0;
}

#submit-btn {
	background-color: lightgrey;
	border: 1px solid black;
	/*border-radius: 4px;*/

}

.player-container {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: transparent;
	margin: 0 20px 0 20px;
	padding-top: 10px;
	width: 96%;
	height: 200px;
}

#player-heading {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 960px;
	font-size: 24px;
	color: black;
	margin-top: 0;
	margin-bottom: 16px;
	margin-right: 48px;
}

.hit-cards {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	margin: 0 20px -60px 20px;
	padding-top: 0;
	width: 86%;
	height: 16%;
}

#player-1-cards {
	diplay: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;	
}

#player-1-hit-cards {
	margin-left: 32px;
}

.action-btn {
	display: inline-flex;
	background-color: cadetblue;
	border: 2px solid lightgrey;
	border-radius: 6px;
	margin: -60px 60px 20px 60px;
	height:140px;
	width: 100px;
	padding: 4px;
}

.action-btn , #player-two-action-container {
	margin-top: -12px;
	min-width: 100px;
}

#player-two-action-container {
	margin-right: 40px;
}

/*.action-btn , #player-two-action-container {
	display: inline-flex;
	background-color: cadetblue;
	border: 2px solid lightgrey;
	border-radius: 6px;
	margin: -60px 60px 20px 60px;
	height:140px;
	width: 100px;
	padding: 4px;
	min-width: 100px;
}*/

#hit-btn-one, #hit-btn-two {
	background-color: lightyellow;
	color: black;
	border: 2px solid purple;
	border-radius: 4px;
	margin: 2px;
	padding: 2px;
}

#stay-btn-one, #stay-btn-two {
	background-color: lightyellow;
	color: black;
	border: 2px solid purple;
	border-radius: 4px;
	margin: 2px;
	padding: 2px;
}

#bet-btn-one, #bet-btn-two {
	background-color: lightyellow;
	color: purple;
	border: 2px solid red;
	border-radius: 4px;
	margin: 2px;
	padding: 2px;
}

.card-container {
	diplay: inline-flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	width: 960px;
	margin:  0 16px 0 0;
}

#deal-button {
	size: 148px 64px
	border-radius: 4px;
	border-color: purple;

}

.new-deal-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	/*height: 20%;*/
	margin: 0 auto;
}

/*.dealer-cards {
	diplay: inline-flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: left;
	width: 96%;
	margin: 20px auto;
}*/

/*#dealer-card-two {
	display: inline-flex;
	flex-direction: row;
	background-color: transparent;
	color: white;
	border: 1px solid lightgrey;
	border-radius: 6px;
	margin:0 4px;
	height: 100px;
	width: 60px;
}
*/
#player-1-cards {
	diplay: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 96%;	
}

#player-2-cards {
	diplay: inline-flex;
	flex-direction: row;
	/*align-items: flex-end;*/
	justify-content: flex-end;
	width: 96%;	
}

#card-one, #card-two {
	display: inline-flex;
	flex-direction: row;
	background-color: transparent;
	/*color: white;
	border: 2px solid orange;*/
	border-radius: 6px;
	margin:0 4px;
	height: 100px;
	width: 60px;
}

.card {
	display: inline-flex;
	flex-direction: row;
	background-color: transparent;
	color: white;
	/*border: 2px solid orange;*/
	border-radius: 6px;
	margin:0 4px;
	height: 100px;
	width: 60px;
}

.chip-total-box-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 960px;	
}

#chip-total-player-one-box {
	display: flex;
	justify-content: left;
	height: 40px;
	width: 72px;
	border: 2px solid orange;
	border-radius: 6px;
	background-color: black;
	margin-left: 60px;
	margin-bottom: -60px;
}

#chip-total-player-two-box {
	display: flex;
	justify-content: right;
	height: 40px;
	width: 72px;
	border: 2px solid orange;
	border-radius: 6px;
	background-color: black;
	margin-right: 60px;
	margin-bottom: -60px;
}

img {
	max-width: 100%;
	height: auto;
}

























