<!DOCTYPE html>
<html>

<head>
  <title>Blackjack</title>
  <!-- CDN scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.ui.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- jquery ui lib -->
  <script src="../jquery-ui-1.12.1/external/jquery/jquery.js"></script>
  <script src="../jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <!-- slick ui lib -->
  <script type="text/javascript" src="../slick/slick.min.js"></script>
  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="../jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
  <link rel="stylesheet" href="../css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500,500italic|Exo+2:400,100,400italic' rel='stylesheet' type='text/css'>
</head>

<title>Strategic Blackjack - Register</title>

<body id="register-body">
  <header class="header-container">
    <h1 class="header-title">Strategic</h1><br>
    <h1 class="header-title">   Blackjack!</h1>
  </header>
  <nav>
    <a href="../">Home</a>
    <a href="..<%= userBarId %>" id="user-link">My Account</a>
    <a href="../rules">Rules</a>
    <a href="../about">About</a>
    <div class="login-link">
      <a href="./register" id="register-link">Login/Sign Up</a>
      <a href="./logout" id="login-link">Logout</a>
    </div>
  </nav>
    <br><span><%= messageDev %></span>
  <div class="dealer-container">
    <div class="dealer-image-container">
      <img id="dealer-image" src="https://thumbs.dreamstime.com/b/handsome-dealer-shuffling-playing-cards-deck-chips-green-table-casino-gambling-poker-people-entertainment-concept-109414284.jpg" alt="Dealer image"></img>
    </div>
    <div class="message-container" id="home-message-container">
      <div class="message-container" id="home-message-container-one">
        <div class="message-box" id="home-message-box-left"></div>
      </div>
      <div class="message-container" id="home-message-container-two">
        <div class="message-box" id="home-message-box-right"></div>
      </div>
    </div>
  </div>
  <div class="login-box-container">    
    <div id="register-login-container">      
      <div class="login-box">
          <div class="session-message-div"> 
            <span class="" id="#session-message-span"><%= message %></span>
          <!-- <%=message%><br> -->
          </div>  
        <form class="login-form" id="register-form" action=",,/../register" method="POST">
          <h3 class="title">Sign up to create your player</h3>
          <input type="text" name="username" placeholder="username" /><br />
          <input type="email" name="userEmail" placeholder="email"  /><br />
          <input type="password" name="password" placeholder="password" /><br />
          <input type="password" name="passwordTwo" placeholder="confirm password" /><br />
          <button id="submit-btn-reg">Create Account</button>
        </form>
          <small><a class="login-a" href="./login">Already a CardSharp? Login here.</a></small>         
      </div>
    </div>
  </div>
  <div class="container register body-content">
    <footer class="footer">
      <small>&copy petermccallmurray, 2019</small>
    </footer>
  </div>
</body>
<!--    <script src="assets/table-images/black:green-fade-2.jpeg"></script>
 --><script src="../card-images.mjs"></script>
  <script data-main="scripts/main" src="../js/scripts/require.js"></script>
  <script src="../js/app.mjs" type="module"></script>
  <script src="../js/start.js" type="module"></script>
</html>